

body{
    font-family: futura;
    font-size: 18px;
    line-height: 1.5;
    color: #48353a;
    text-align: center;
    background-color: #FFBA7A;
}

header nav img {
    width: 20px;
    float: right;
    margin-top: 5px;

}

nav{
    background-color: #6DC1EB;
    padding: 0px 40px 0px 0px;
    width: 100%;    
    word-spacing: 5em;
    text-align: center;
    position: static;
}

body p{
    background-color: beige;
    color: tan;
    border-color: darkgreen;
    padding: 50px 100px;
    font-weight:400;
    max-width: 700px;
    float: center;
    margin: auto;
    margin-top: 100px;
    word-spacing: .5em;
    font-size: 20px;
    border-radius: 25px;
    border-style: solid;
    border-width: 30px;
    
}
header img{
    float: center;
    position:relative;
    margin: 40px;
    padding: 40 40 20 40;
    margin-top: 
}
* {
  box-sizing: border-box;
}

.passtypes {
  background-color: red;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.ga {
  width: 30%;
    height: 160px;
  font-size: 24px;
  float: left;
  background-color:#F5FFB4;
  color: tan;
  padding:20px 10px;
  margin-top: 100px;
  margin-left: 55px;
}

.vip {
  width: 30%;
  float: right;
    height: 160px;
  color: tan;
    font-size: 24px;
    background-color:#F5FFB4;
     padding:20px 10px;
    margin-top: 100px;
    margin-right: 55px
}


section.return h2{
    font-weight: 400;
    color: beige;
    background-color:#d45757;
    float: left;
    text-align: center;
    padding: 10px;
    margin-left: 213px;
    margin-top: 285px;
     margin-bottom: 25px;
    position: absolute;
}

section.details{
    position: relative;
}

section.details h2{
    font-weight: 400;
    color: beige;
    background-color: #d45757;
    float: right;
    text-align: center;
    padding: 10px 60px;
    margin-right: 213px;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    
    
}

.button{
    max-width: 200px;
    max-height: 65px;
}

.button:hover {
    background-color: #4CAF50; 
    color: white;
    border border-radius: 2px; 
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border: double 4px #fff;
    border-radius: 3px;
    transition: .4s 
}
