
body{
    font-family: futura;
    font-size: 18px;
    line-height: 1.5;
    color: #48353a;
    text-align: center;
    background-color: #FFBA7A;
}
body p{
    background-color: beige;
    color: tan
}
header img{
    float: center;
    position:relative;
    margin: inherit;
    padding: 20 40 20 40;
}
section.GA h1{
    font-size: 64px;
    font-weight: 700;
    color: beige;
    background-color: tan;
    float: left;
}
section.GA p{
    font-size:450;
    color: tan;
    background-color: beige;
    float: left;
}

section.VIP h1{
    font-size: 64px;
    font-weight: 700;
    color: beige;
    background-color: tan;
    float: right;
}
section.VIP p{
    font-size:450;
    color: tan;
    background-color: beige;
    float: right;
}

section.return h2{
    font-weight: 400;
    color: beige;
    background-color:#d45757;
    float: left;
        
}

section.details h2{
    font-weight: 400;
    color: beige;
    background-color: #d45757;
    float: right;
}


