{
    box-sizing: border-box;
}

html,
body,
section,
div {
  height: 100vh;
}

body{
    font-family: futura;
    font-size: 25px;
    line-height: 1.3;   
}

article {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;
}

/* grid layout */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
.container {
  display: grid;
}
.left-half {
  background: #ffffff;
  grid-column: 1;
}

.right-half {
  background: #000000;
  grid-column: 2;

}



.button{
    max-width: 200px;
    max-height: 65px;
    display: inline-block;
}

.button:hover {
    background-color: #000; 
    color: white;
    border border-radius: 2px; 
    display: inline-block;
    padding: 0.4em 1em;
    text-decoration: none;
    border: double 3px #fff;
    border-radius: 3px;
    transition: .4s 
}


info {
  position: relative;
  top:50%;
  text-align:right;
  transform: translate(0, -50%);
  padding: 1rem;
}

.container {
  display: grid;
}

.left-side {
  background: #000;
    padding-left:
    border-left:400px;
    border-left-color: #000;
  grid-column: 1;
}

.right-side {
  background: #fff;
  grid-column: 2;

}


