{
    box-sizing: border-box;
}

body{
    font-family: futura;
    font-size: 25px;
    line-height: 1.3;   
}
/* grid layout */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
.container {
  display: grid;
}
div.left-half {
  background: #ffffff;
  grid-column: 1;
}

section.container h1{
    float: center;
    position: relative;
    padding-left: 250px
}

section.container p{
    float: center;
    padding-left: 290px;
}

div.right-half {
  background: #000000;
  grid-column: 2;
}

.button{
    max-width: 200px;
    max-height: 65px;
    display: inline-block;
}

.button:hover {
    background-color: #000; 
    color: white;
    border border-radius: 2px; 
    display: inline-block;
    padding: 0.4em 1em;
    text-decoration: none;
    border: double 3px #fff;
    border-radius: 3px;
    transition: .4s 
}

