@import url('https://fonts.googleapis.com/css?family=David+Libre:400,700');

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}

body{
    font-family: 'David Libre';
    font-size: 18px;
    line-height: 1.5;
    color: #48353a;
    text-align: center;
}

header{
    padding: 10px 20px 20px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.75);
}

header img{
    float:left;
}

header nav{
        float:right
}

header nav a {
    padding: 5px;
    margin: 0 0 0 10px;
    color: #48353a;
    text-decoration: none;
}

header nav a:hover {
        border-bottom: 2px solid #48353a;
}

section.hero {
    padding: 250px 0px 200px 0px;
}

section.hero h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    
    max-width: 500px;
    margin: 0 auto 20px auto;
}

section.hero p{
    max-width: 400px;
    margin: 0 auto;
}

a.button{
    display: inline-block;
    margin: 20px 0 0 0;
    border: 2px solid #eeae9f;
    border-radius: 40px;
    padding: 10px 20px;
    color: #eeae9f;
    text-decoration: none;
    font-weight: 700; 
}

a.button:hover {
    background-color: #eeae9f;
    color: #ffffff;
}

section.flowers {
        overflow: hidden;
}

section.flowers img {
    float: left;
    width: 33.33%;
}

section.quotes {
    overflow: hidden;
}

section.quotes div{
    float: left;
    width: 50%;
    padding: 40px 120px 60px;
}

section.quotes div.quote1 {
    background-color: #f7f1ee;
}

section.quotes img{
    width: 75px;
    border-radius: 50px;
}

section.quotes h2{
        font-weight: 700;
        font-size: 24px;
        padding: 20px 0;
}

section.fullbleed {
    width: 100%;
}

section.brands{
    background-color: #eeae95;
    color: #fff;
    padding: 40px 0px;
}

section.brands h3{
        font-weight: 700;
        margin-bottom: 20px;
}

section.brands img{
    margin: 0 10px 0 10px;
}

footer{
    background-color: #eeae95;
    
    overflow: hidden;
}
footer{
    background-color: gray;
    padding: 30px
}
footer img{
    float: left
}
footer p{
    float: right;
    color: aliceblue;
}